<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><strong>Book Store</strong></li>
        </ul>
        <ul>
            <li><a href="{% url 'top-books' %}" role="button">Top Books</a></li>
            <li><a href="{% url 'list-books' %}" role="button">List Books</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>